

#background {
    background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/239/custom/23939_1600x1200-wallpaper-cb1282059611.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
